* {
	margin: none;
}

body {
	padding: 50px;
}

#date {
	color: blue;
	text-align: center;
    margin-top: 10px;
}

#time {
	color: green;
	text-align: center;
    margin-top: 10px;
}

div {
	margin: auto;
	text-align: center;
}

.links {
	margin-top: 30px;
}